
:root {
    --black: #171321;
    --dkblue: #0d314b;
    --plum: #4b0d49;
    --hotmag: #ff17e4;
    --magenta: #e310cb;
    --aqua: #86fbfb;
    --white: #f7f8fa;
    --font-size: 1.3rem;
    --mono: "Oxygen mono", monospace;
    --sans: Oxygen, sans-serif;
  }

  html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  body {
    padding: 0;
    margin: 0;
    font-family: var(--sans);
    background-color: var(--black);
    color: var(--white);
    font-size: var(--font-size);
  }
  h1,
  h2,
  h3 {
    margin: 0;
  }
  a {
    color: var(--magenta);
  }
  
  a:hover {
    color: var(--hotmag);
    text-decoration: none;
  }

  #intro {
    padding-bottom: 10rem;
  }
  
  #intro p {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  #intro .name {
    font-family: var(--mono);
    font-size: 1rem;
  }
  
  .name span {
    font-family: var(--sans);
    font-size: 4rem;
    color: var(--aqua);
    display: block;
    font-weight: 300;
  }
  
  #intro h2 {
    font-size: 4rem;
  }
  
  
  #contact {
    width: 400px;
    text-align: center;
    margin: 0 auto;
    padding: 3rem 0;
  }
  
  #contact p:last-child {
    margin-top: 3rem;
  }
  
  nav {
    font-family: var(--mono);
    font-size: 100%;
    padding: 1rem;
  }
  
  nav h1 a {
    font-family: var(--sans);
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  nav li:first-child {
    flex-basis: 100%;
    text-align: center;
  }
  nav [class*="fa-"] {
    font-size: 150%;
    color: var(--aqua);
  }
  nav h1 [class*="fa-"] {
    font-size: 100%;
    color: var(--aqua);
  }
  nav a {
    color: white;
    text-decoration: none;
    display: block;
  }
  
  nav a:hover,
  nav [class*="fa-"]:hover {
    color: var(--magenta);
  }
  .button {
    background-color: var(--magenta);
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
  }
  
  .button:hover {
    color: white;
    background-color: var(--hotmag);
  }
  @media (min-width: 850px) {
    nav {
      max-width: 1200px;
      margin: 0 auto;
    }
    nav li:first-child {
      flex-basis: auto;
      text-align: left;
      margin-right: auto;
    }
  }
  
  .footer
  {
    text-align:center;
  }
  
  .copyRightText
  {
    font-size:15px;
  }

  .paragraphOne
  {
    font-size:15px;
    font-family: var(--mono);
    
  }

  .nameOne
  {
    color : var(--hotmag);
  }
  
  .nameTwo
  {
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, var(--black), var(--aqua));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;

  }
  

  .introduction
  {
    text-align: center;
    
  }

  .contactButton
  {
    padding: 20px;

    background-color: var(--plum);

    text-decoration: none;

    font-family: var(--mono);

    border-radius: 2rem;
  }

  .contactButton:hover
  {
    background-color: var(--magenta);
  }

  .headerContact
  {
    font-family: var(--mono);

    padding-bottom: 50px;
  }

  .contactMeDiv
  {
    border:3px solid var(--plum);

    padding: 100px;

    text-align: center;

    max-width:700px;

    max-height: fit-content;

    margin: 7rem auto;

    border-radius: 1rem;
  }

  ul li:second-child
  {
    padding: 10px;

    background-color: var(--plum);
    
  }

  .projectButtonNav
  {
    padding: 15px;

    background-color: var(--plum);

    border-radius: 1rem;
    
  }
  
  .projectButtonNav:hover
  {
    background-color: var(--magenta);
  }

  .logoImg:hover
  {
    opacity: 0.4;
  }

  
    @media (min-width: 0px) {
      .gradient
      { 
        height: 2px;

        background: rgb(169,34,195);
        background: radial-gradient(circle, rgba(169,34,195,1) 0%, rgba(253,187,45,0.6951155462184874) 100%);
    
        margin-bottom:50px ;
        margin-top: 175px;
      }
      }


  

  #myCarousel
  {
    margin: 20rem auto; 
  }

  .imgCarousel
  {
    margin:auto auto 2rem 5.5rem ;

    width: 40rem;
    height: 30rem;
  }
  
  .projectButton
  {
    padding: 20px;

    background-color: var(--dkblue);

    border-radius: 1rem;

    margin: 30px;

    cursor: pointer;

    color: var(--white);
  }

  .projectButton:hover
  {
    background-color: var(--plum);
  }

  .projectText
  {
    margin-bottom: 40px;
  }

  .footerDivGradient
  {
    margin-top: 280px;
  }
 .contactIconsFooter
 {
  margin: 25px;
 }
 .iconsContact:hover
 {
  opacity: 0.4;

  cursor: pointer;
 }
 .flexInfoAll
 {
  display: flex;
  flex-direction: row;
 }
.flexImgDetails
{
  display: flex;
  flex-direction: column;

  margin-top: 10rem;
}

.fontAwesome
{
  margin : auto 250px 10px auto;

  font-size: 50px;
  
}

.chessImg
{
  height: 30rem;
  width: 33rem;
}

@media (min-width: 0px) {
  .aboutContainer {
    max-width: 1300px;
    margin: 0;

    height: 60rem;

    background-color: var(--dkblue);
  }
}

.gradientAbout
{
  height: 2px;

  background: rgb(169,34,195);
  background: radial-gradient(circle, rgba(169,34,195,1) 0%, rgba(253,187,45,0.6951155462184874) 100%);
}

@media (min-width: 0px) {
      .gradientAbout
      { 
        height: 2px;

        background: rgb(169,34,195);
        background: radial-gradient(circle, rgba(169,34,195,1) 0%, rgba(253,187,45,0.6951155462184874) 100%);
      }
      }
.numberOne
{
  margin-top: 70px;
}
.numberTwo
{
  margin-bottom: 100px;
}
.aboutHeader
{
  text-align: center;

  justify-content: center;

  padding: 30px;

  flex-basis: 100%;
}
.aboutMePicture
{
  width: 35rem;
  height: 35rem;

  margin: 5rem 4rem auto 5rem;

  border-radius: 5%;
}

.flexAboutMe
{
  display: flex;

  flex-direction: column;
}

.aboutMeContainerText
{
  width: 700px;
  height: 450px;

  margin: 10rem 5rem auto;  

  border: 3px solid var(--plum);

  border-radius: 1rem;

  text-align: center;
}

.flexAboutMeAll
{
  display: flex;
  flex-direction: row;
}

.paragraphAboutMe
{
  padding: 20px;
  
  font-size: large;
}

.periodicTableImg
{
  height: 30rem;
  width: 33rem;
}

.fontAwesomePeriodicTable
{
  display: flex;
  flex-direction: column;

  margin-top: 7rem;
}
.navIcons
{
  font-size: 22px;
}
.navIcons:hover
{
  opacity: 0.5;
}
